/* Fall24.css */
.competition_info {
    width: 600px;
    padding-top: 70px;
    margin: 0 auto;
}

.competition_info img {
    width: 600px;
    height: 450px;
    border-radius: 8px;
    margin: 0 auto;
}

.weblink {
    text-decoration: none;
    color: #329b5a;

}

table {
    width: 100%;
    border-collapse: collapse;
}
tbody {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace
}
  
th, td {
    border: 1px solid #0a6f31;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #d2f4df;
}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0a6f31;
    color: white;
}

.contact_us {
    text-align: center;
    padding: 20px;
    font-size: 15px;
    color: #616161;
    padding-bottom: 50px;
}

.contact_us a {
    text-decoration: none;
    color: #329b5a;
}
  