/* Roster.css */
.container {
  padding-top: 50px;
  width: 650px;
  margin: 0 auto; /* Center the container */
}

.sectionheader {
  font-size: 1.5em; /* Large font size */
  font-weight: 600; /* Bold text */
  color: #6c6d6d; /* Dark text color for visibility */
  margin-top: 50px;
  text-align: center;

}

.roster-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Space between cards */
    padding: 20px;
}
  
  .card {
    width: 280px; /* Fixed card width */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Simple shadow for depth */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Ensure content fits in the border radius */
    margin: 0 5px;
  }
  
  .card-img {
    width: 100%; /* Make image fill the card */
    height: 200px; /* Fixed image height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
  }
  
  .card-info {
    padding: 15px;
  }
  
  .card-info h3 {
    margin: 0;
    color:#424242d3;
  }

  .card-info h4 {
    margin: 10px 0;
    font-size: 0.9rem;
    color: #708078;
  }
  
  .card-info p {
    margin: 5px 0;
    font-size: 0.9rem;
  }

  .card-info span {
    color: #a18038; /* Example link color */
    text-decoration: none; /* Remove underline */
  }
  
  .card-info a {
    color: #329b5a; /* Example link color */
    text-decoration: none; /* Remove underline */
  }
  
  .card-info a:hover {
    text-decoration: underline; /* Optional: underline on hover */
  }
  